@import "../../../../../../styles/variables";

.form-pet {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  background-color: $background-color;
  border-radius: $radius;

  .img {
    height: 30%;
  }
  .info-pet {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $separation;
  }
  .actions {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $separation;
  }
}
