<form (ngSubmit)="submit()" class="form-pet border-rounded">
  <fieldset
    [disabled]="actionForm !== 'EDIT' ? '' : 'disabled'"
    class="input-container"
  >
    <div class="img-input">
      <app-avatar
        [src]="petForm.image"
        [alt]="'Imagen de ' + petForm.name"
        [size]="'lg'"
      />
    </div>
    <div class="inputs">
      <div class="">
        <label for="txt-name-pet">Mascota</label>
        <input
          [(ngModel)]="petForm.name"
          (ngModelChange)="setName($event)"
          name="name"
          type="text"
          class="form-control"
          id="txt-name-pet"
          required
        />
      </div>
      <div class="">
        <label for="txt-ownerName">Dueño</label>
        <input
          [(ngModel)]="petForm.ownerName"
          name="ownerName"
          type="text"
          class="form-control"
          id="txt-ownerName"
          required
        />
      </div>
      <div class="">
        <label for="txt-tel">Telefono</label>
        <input
          [(ngModel)]="petForm.tel"
          name="tel"
          type="tel"
          class="form-control"
          id="txt-tel"
          required
        />
      </div>
    </div>
  </fieldset>
  <app-buttons-action-form
    [submit]="submit"
    [update]="setActionUpdate"
    [delete]="delete"
  />
</form>
