@import "../../../../../../styles/variables";

.form-pet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
  border-radius: $radius;

  gap: 30px;

  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;

    .inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
