@import "../../../../styles/variables";

.manager {
  width: 100%;
  height: 94vh;

  display: flex;
  flex-direction: column;

  .manager-info {
    width: 100%;
    min-height: 30%;
  }
  .manager-data {
    flex: 1;

    border: solid 2px $border-color;
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    gap: 5px;
    padding: 15px;

    .manager-table {
      width: 30%;
    }
    .manager-detail {
      flex: 1;
    }
  }
}
