@import "../../../../../styles/variables";

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $border-color;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

button:hover {
  background-color: darken($border-color, 10%);
}
