<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/mascotas']">Mascotas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/guarderia']">Guarderia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/baños']">Baños</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/productos']">Productos</a>
  </li>
</ul>
