<table class="table table-striped">
  <thead>
    <tr>
      @for (attribute of listAttributes; track $index) {
      <th scope="col">{{ attribute }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (obj of listObjects; track $index) {
    <tr>
      @for (attribute of listAttributes; track $index) {

      <td>{{ obj[attribute] }}</td>
      }
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="eventEdit(obj.id)"
        >
          Editar
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
