<app-manager-layout>
  <div scroll-table-items>
    @for (pet of pets; track $index) {
    <app-row-data [action]="setPetSelected(pet.id)"
      ><div first-column>
        <span>{{ pet.name }}</span
        ><span>{{ pet.ownerName }}</span>
      </div>
      <div second-column>
        {{ pet.tel }}
      </div>
    </app-row-data>
    }
  </div>
  <div manager-detail class="manager-info">
    <app-pet-form />
    <div class="more-info border-rounded">more info</div>
  </div>
</app-manager-layout>
