<div
  class="container-fluid d-flex flex-column p-3 overflow-hidden"
  style="height: 94vh"
>
  <div class="row">
    <div class="col">Mascotas</div>
    <div class="col">
      <a class="btn btn-success" (click)="redirectFormPet()">
        Añadir mascota
      </a>
    </div>
  </div>
  <div
    class="border rounded flex-grow-1 d-flex flex-column gap-2 p-2 overflow-hidden"
  >
    <pet-search />

    <div class="flex-grow-1 d-flex gap-4 overflow-hidden">
      <pet-show-data style="min-width: 30%" />
      <div class="flex-grow-1">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
