<div
  class="d-flex px-2 py-1 gap-2 justify-content-center border border-1 rounded-pill p-1"
>
  <div
    class="flex-fill d-flex gap-2 ps-2 align-content-center border border-1 rounded-pill"
    style="background-color: #e1e1e1"
  >
    <i class="bi bi-search align-self-center"></i
    ><input
      type="text"
      class="flex-fill border border-1 rounded-pill"
      style="background-color: #e1e1e1"
      placeholder="Buscar"
    />
  </div>

  <div class="d-flex center gap-2">
    <button class="btn btn-light rounded-pill">
      <i class="bi bi-funnel"></i> Filtrar
    </button>
    <button class="btn btn-light rounded-pill">
      <i class="bi bi-arrow-down-up"></i> Ordenar
    </button>
  </div>
</div>
