@import "../../../../../styles/variables";

.row-data {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: solid 2px $border-color;
  border-radius: 50px;
  width: 100%;
  padding: $separation;
  gap: 10px;

  transition: 0.5s;

  .info-detail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    :first-child {
      display: flex;
      flex-direction: column;
      align-items: start;
      span:first-child {
        font-weight: bold;
      }
      span:last-child {
        color: #696969;
        font-size: small;
      }
    }
  }
}

.row-data:hover {
  background-color: #f5f5f5;
  border: solid 2px #e0e0e0;

  app-avatar div {
    border: solid 2px #e0e0e0;
  }

  app-circle-button {
    button {
      background-color: #e0e0e0;
    }

    button:hover {
      background-color: #d8d8d8;
    }
  }
}
